# don't push project files
*.cbp
*.sln
*.vcx*
*.workspace*
*.opendb
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace
*.VC.db
*.opensdf
*.sdf
*.suo
*.ipch
.svn/
obj/
bin/
build/
!data/

ofxCv.wiki/